<section class="text-center bg-black" style="height: 100vh;">
  <!-- Background image -->
  <div class="p-5 bg-image" style="
    background-image: url('assets/registerBackground.jpg');
    height: 350px;
  "></div>
  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
    margin-top: -100px;
    background: hsla(0, 4%, 30%, 0.1);
    backdrop-filter: blur(30px);
 
  ">
    <div class="card-body py-5 px-md-5">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5 text-white">Sign up now</h2>
          <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input type="text" id="form3Example1" class="form-control input" formControlName="name" placeholder="First Name" />
                  <small *ngIf="signUpForm.controls['name'].dirty && signUpForm.hasError('required','name')" class="text-danger ">
                    *This field is required!</small>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input type="text" id="form3Example2" class="form-control input" formControlName="surname" placeholder="Last Name" />
                  <small *ngIf="signUpForm.controls['surname'].dirty && signUpForm.hasError('required','surname')" class="text-danger ">
                    *This field is required!</small>
                </div>
              </div>
            </div>
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="form3Example3" class="input form-control" formControlName="email" placeholder="Email address" />
              <small *ngIf="signUpForm.controls['email'].dirty && signUpForm.hasError('required','email')" class="text-danger ">
                *This field is required!</small>
                <small *ngIf="errorMessage && signUpForm.controls['email'].dirty" class="text-danger">
                *An account with this email already exists.
              </small>
                
            </div>
            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="form3Example4" class="form-control input" formControlName="password" placeholder="Password" />
              <small *ngIf="signUpForm.controls['password'].dirty && signUpForm.hasError('required','password')" class="text-danger ">
                *This field is required!</small>
                <small 
                class="text-danger"
                *ngIf="signUpForm.get('password')?.hasError('minlength')"
            >*The password has to be at least 8 characters.</small>
            </div>
               <!-- Phone Number -->
               <div class="form-outline mb-4">
                <input type="tel" id="form3Example5" class="form-control input" formControlName="phoneNumber" placeholder="Phone Number" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
                <small *ngIf="signUpForm.controls['phoneNumber'].dirty && signUpForm.hasError('required','phoneNumber')" class="text-danger ">
                  *This field is required!</small>
              </div>
           <!-- Date of Birth input -->
           <div class="form-outline mb-4">
            <input type="date" id="form3Example6" class="form-control" formControlName="birth" placeholder="Date of Birth" style="background-color: #333; color: #fff; border-color: #fff;"/>
            <small *ngIf="signUpForm.controls['birth'].dirty && signUpForm.hasError('required','birth')" class="text-danger">
              *This field is required!
            </small>
            <small *ngIf="signUpForm.controls['birth'].dirty && signUpForm.hasError('underAge','birth')" class="text-danger">
              *You must be at least 18 years old!
            </small>
          </div>
                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-center mb-4">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                  <label class="form-check-label text-white" for="form2Example33">
                    Njoftohu mbi ofertat tona
                  </label>
                </div>
            <!-- Submit button -->
            <button type="submit" class="register-button btn btn-primary btn-block mb-4" >
              Sign up
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>


        

          