 <div class="card">
      <div class="row mb-4 ">
          
          <div class="col-md-4 col-sm-11 col-xs-11">
              <div class="footer-text pull-left">
                   <div class="d-flex justify-content-center">
                    <img class="logo__img" src="assets/hotelLogo.png" alt="logo"> 
                   </div>
                   <p class="card-text text-center">HospitalityPRO është një oaz modern, ku luksin dhe kujdesin për detaje i kombinojmë për të ofruar një përvojë të pazëvendësueshme.</p>
               </div>
          </div>
          
          
          <div class="col-md-2 col-sm-1 col-xs-1 mb-2"></div>
          
          <div class="col-md-2 col-sm-4 col-xs-4">
       
              <h5 class="heading">FAQs</h5>
              <ul >
                  <li [routerLink]="['/home']">Kreu</li>
                  <li [routerLink]="['/rooms']">Dhoma dhe Suita</li>
                  <li [routerLink]="['/services']">Sherbime Shtese</li>
                  <li [routerLink]="['/contact-us']">Kontakt</li>
              </ul>
       
          </div>
       
           <div class="col-md-2 col-sm-4 col-xs-4">

              <h5 class="heading">Na Kontaktoni</h5>
              <ul class="card-text">
                  <li><i class="fas fa-map-marker-alt me-3"></i> Rr. Elbasanit,Tirane, ALB</li>
                  <li><i class="fas fa-envelope me-3"></i>
                    info@hospitalitypro.com</li>
                  <li><i class="fas fa-phone me-3"></i> +355 (0) 522 113 21</li>
                  <li><i class="fas fa-print me-3"></i> + 01 234 567 89</li>
              </ul>
            
           </div>

          <div class="col-md-2 col-sm-4 col-xs-4">
       
            <h5 class="heading">Na Ndiqni</h5>
            <ul class="card-text d-flex">
             <li> <i class="fab fa-instagram custom-icon mr-3"></i></li>
             <li> <i class="fab fa-facebook custom-icon mr-3"></i></li>
             <li> <i class="fab fa-whatsapp custom-icon"></i></li>
            </ul>
        </div>
      </div>
      
      
      <div class="divider mb-4" >   
      </div>

     
      <div class="row" style="font-size:10px;">
      
      <div class="col-md-6 col-sm-6 col-xs-6">
          
          <div class="pull-left">    
            <div class="container text-center">
              Made with <i class="fas fa-heart"></i> by LinkTech
          </div>
          </div>
      </div>
      
      

      <div class="col-md-6 col-sm-6 col-xs-6">
         
         
          <div class="pull-right mr-4 d-flex policy">
              
             <div>Terms of Use</div>
             <div>Privacy Policy</div>
             <div>Cookie Policy</div>
              
          </div>
          
          
          
      </div>
       
       
       
   </div>
  </div>
  