<div class="home-container">
  <!-- Carousel-Photos -->
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let slide of slides; let i = index" [class.active]="i === 0">
        <div class="shadow-overlay">
          <img [src]="slide.image" class="d-block w-100 img-fluid" [alt]="'Image ' + (i + 1)">
        </div>
        <div class="carousel-caption d-none d-md-flex flex-column justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100">
          <h1 class="slide-title">{{ slide.title }}</h1>
          <p>{{ slide.description }}</p>
          <button type="button" class="btn btn-primary" [routerLink]="['/room-types']">Shikoni dhomat</button>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Hotel -->
<div class="hotel-container bg-dark d-flex flew-row align-items-center justify-content-center">
  <div class="hotel-description d-flex flex-column align-items-center ">
    <div class="description-title mb-5 fs-1">HospitalityPRO Hotel Tirana</div>
    <div class="description-text fs-6">
      HospitalityPRO Hotel Tirana ofron një përvojë të shkëlqyer të qëndrimit në kryeqytetin e Shqipërisë. Me një lokacion të shkëlqyer në qendër të qytetit dhe qasje të lehtë në atraksione të rëndësishme të Tiranës, hoteli ynë ofron një ambient të bukur dhe tërheqës për udhëtarët. Dhomat e dizajnuara me kujdes ofrojnë komoditetin dhe shërbimin e shkëlqyer për të gjithë vizitorët. Përveç kësaj, stafi ynë i përkushtuar është gjithmonë në dispozicion për të siguruar që qëndrimi juaj të jetë sa më i mrekullueshëm.
    </div>
      <div class="description-text mt-4 fs-6">
        HospitalityPRO Hotel Tirana është një oaz i gatimeve për të gjithë dashamirët e ushqimit. Me një gamë të zgjeruar të zgjedhjeve lokale dhe ndërkombëtare, si dhe një përgatitje të shkëlqyer, restorantet e tij ofrojnë një përvojë kulinarisht të pasur.</div>
      <div class="description-text mt-4 fs-6">  
        Gjithashtu, në HospitalityPRO Hotel Tirana, mysafirët mund të përfitojnë nga shërbimet e palestrës me pajisjet e fundit për ushtrime të shëndetshme. Spa ofron një ambient të qetë dhe relaksues për të shijuar trajtime të mrekullueshme të spa-s, ndërsa pishina ofron një mënyrë të shkëlqyer për të rënë në relaksim pas një dite të ngarkuar.</div>
<div class="hotel-button mt-5" [routerLink]="['/contact-us']">Na Kontaktoni</div>
    </div>
    <div class="description-photos d-grid position-relative">
      <img src="assets/hotel.jpg" alt="" class="stack-front border border-white border-4 shadow">
      <img src="assets/extra-services-photos/service-restaurant.jpg" alt="" class="stack-back border border-white border-4 shadow">
    </div>
</div>


<!-- Rooms -->
<div class="rooms-container ">
  <div class="room-description">
    <h1>Dhoma dhe Suita</h1>
    <p>
      Dhoma dhe suitat në Hospitality PRO përfaqësojnë një harmoni të përsosur mes elegancës dhe komfortit, duke ofruar një ambient të përshkëlqyer për të gjithë mysafirët tanë, përfshirë dhoma standard dhe suite të dizajnuara me kujdes për të plotësuar nevojat më të larta të udhëtarëve.</p>
    <div class="items">
      <div class="item" *ngFor="let room of rooms">
        <img [src]="room.image" [alt]="room.name" class="room-bg">
        <div class="item-details">
          <h4 class="item-name">{{ room.name }}</h4>
          <h5 class="item-price">{{ room.price }}</h5>
          <a href="#" class="read-more-btn" [routerLink]="['/room-types']">Lexo më shumë</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Extra Services -->
<div class="extra-services-container bg-dark">
  <div class="extra-services-description d-flex flex-column align-items-center justify-content-center text-white">
    <h1>Shërbimet Shtesë</h1>
    <p>Ofrojmë një gamë të gjerë të shërbimeve shtesë për të përmbushur nevojat tuaja, duke përfshirë një palestër të mirë-organizuar, një restorant të cilësisë së lartë, një pishinë të freskët dhe një spa të relaksuar për të ju sjellë një përvojë të mrekullueshme.</p>
  </div>
  <div class="service-container d-flex row">
    <div class="card" *ngFor="let service of extraServices">
      <a href="#">
        <img [src]="service.image">
        <div class="service-text">
          <h5 class="service-name">{{ service.name }}</h5>
          <button class="service-buttons" [routerLink]="['/services']">Lexo më shumë</button>
        </div>
      </a>
    </div>
  </div>
</div>
</div>
