@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&family=PT+Sans+Narrow&family=Quando&display=swap');

h1 {
  font-family: 'Quando', serif;
  font-size: 33px;
}
p{
  font-size: 16px;
}
.home-container{
  margin-top: 100px;
  background-color:rgb(83, 82, 82);
}


/* Carousel-Photos */
.carousel-item {
  animation: zoomInOut 5s infinite alternate;
  height: 740px;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
}
.slide-title{
    font-family: 'Dancing Script', cursive; 
    font-size: 60px;
    margin-bottom: 22px;

}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.shadow-overlay {
  position: relative;
}

.shadow-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}
/* Hotel Description */
.hotel-container{
  max-width: 100%;
  padding: 70px 180px;
  color: white;
}
.hotel-description{
  margin-right: 50px;
}
.description-text{
  text-align: justify;
}
.description-photos {
  grid-template-columns: repeat(12, 1fr);
}

.description-photos .stack-back {
  grid-column: 4/-1;
  grid-row: 1;
  width: 100%;
  z-index: 1;
}

.description-photos .stack-front {
  grid-row: 1;
  grid-column: 1/span 8;
  margin-top: 20%;
  width: 100%;
  z-index: 2;
}

.description-photos{
max-width: 50%;
}

.description-photos>img{
width: 100%;
}

.hotel-button {
  display: inline-block;
  background: #4285f4;
  color: #fff;
  text-transform: uppercase;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}
.hotel-button:hover {
  box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0px, -10px) scale(1.2);
          transform: translate(0px, -10px) scale(1.2);
}

/* Rooms */

.rooms-container{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    color:white;

}
.room-description{
   padding: 20px;
}
.room-description h1,p{
    text-align: center;
   
}
.room-description p{
    margin-top: 10px;
    margin-bottom: 30px;
}

.items{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}
.item{
    width: 48%;
    height: 320px;
    position: relative;
    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.item-details{
    position: absolute;
    top: 0;
    width: 50%;
    background-color: rgba(24, 24, 24, 0.8);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #fff;
}
.item-details .item-name{
    font-size: 30px;
}
.item-details .item-price{
    font-size: 24px;
}
.item .room-bg{
    width: 100%;
    height: 100%;
}
.item:hover, .card:hover {
  transform: scale(1.05); 
}

.read-more-btn:hover, .service-buttons:hover {
  background-color: #6c757d; 
  color: #fff; 
}

/* Extra-Services */
.extra-services-container{
  padding-top: 30px;
  padding-bottom: 50px;

}
.extra-services-description{
  width: 80%;
  margin: 0 auto;
}
.service-container {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}
.card a{
    position: relative;
    transition: transform 0.3s ease;

}
.card {
  transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  max-width: 350px; 
  padding: 0;
}

.card img {
  width: 100%;
  height: auto; 
  max-width: 100%; 
  display: block; 
  margin: 0 auto; 
}

.service-text {
    position: absolute;
    bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.service-text h5 {
  font-weight: 700;
  font-size: 1.25rem;
  color: rgb(250, 248, 248);
}
.service-text h5:before {
  position: absolute;
  margin-top: -25px;
}
.service-buttons,.read-more-btn {
    color:white;
    width: fit-content;
    padding: 7px 20px;
    border-radius: 100px;
    background-color: #7b7979;
    border: 1px solid white;
    text-decoration: none;
}



