body {
  /*background: #bdbdbd;*/
background:#2d3b36 url(https://unsplash.com/photos/D2K1UZr4vxk/download)no-repeat center center fixed;
}

#header h2 {
  font-family: Segoe UI;
  font-size: 35px;
  color: #242525;
  margin: 15px 10px 5px 50px;
  text-align: center;
} 

#header h2:hover {
  text-shadow: 1px 1px 5px #fff;
  color: #242525;  
}

#header p {
  text-align: center;
  font-family: Segoe UI;
  font-size: 18px;
  color: #242525;
  text-shadow: none;
  font-weight: bold;
}

#header {
  margin-bottom: 50px;
}

form {
  background: #ece2c3;
  height: 540px;
  width: 800px;
  margin: auto;
  padding: 20px;
 /* border-right: 5px solid #e72331;*/
  border-radius: 20px;
  box-shadow: 3px 3px 10px 8px #3a3a3a;
}


 form #on{
   width: 96px;
   height: 96px;
   margin: -10px 320px 30px 340px;
 }


form #off {
   width: 96px;
   height: 96px;
  margin: auto;
   margin: -133px 0px 0px 0px;
   opacity: 0.1;
    filter: alpha(opacity=40);
 }

form #off:hover {
   opacity: 1.0;
    filter: alpha(opacity=100);
 }


form h1 {
  text-align: center;
  margin-top: 30px;
  position: relative;
  font: 40px georgia;
  color: #191818;
}

form h1:hover {
  text-shadow: 1px 1px 3px  #2d2d2d;
}

input {
  width: 310px;
  padding: 20px;
  margin: 15px;
  display: inline;
  background-color: #f3edd9;
  outline: none;
  font: 15px georgia;
  border: 0px;
  -webkit-box-shadow:inset 5px 5px 30px 1px #9C9C9C;
box-shadow:inset 5px 5px 30px 1px #9C9C9C;
}

.message {
  width: 87%;
  height: 120px;
  margin: 15px;
  background-color: #f3edd9;
  font: 20px georgia;
  border: 0px;
  padding: 20px;
  -webkit-box-shadow:inset 5px 5px 30px 1px #9C9C9C;
box-shadow:inset 5px 5px 30px 1px #9C9C9C;
}


[type=submit] {
  margin: 25px 250px;
  width: 250px;
  padding: 12px;
  border: 0px;
  background: #b76f22;
  border-radius: 0px;
  color: white;
  font-weight: 400;
  font: 18px Georgia;
  font-weight: bold;
  border: 2px solid #b76f22;
  box-shadow: none;
}
  
[type=submit]:hover {
  background-color: #fff;
  color: #b76f22;
  border-color: #b76f22;
  cursor: pointer;
}



li {
  list-style:none;
}

input:focus, textarea:focus { 
	  background-color: #f3edd9;
    -moz-box-shadow: 0 0 5px 1px #cf8d24;
    -webkit-box-shadow: 0 0 5px 1px #cf8d24;
    box-shadow: 0 0 5px 1px #cf8d24;
	  overflow: hidden; 
}

/*-------------------------*/

#footer {
  text-align: center;
  margin-top: 50px;
  font-family: Segoe UI;
  color: #446CB3;
}

#footer a {
  text-decoration: none;
  font-family: Mistral;
  font-size: 25px;
  color: #446CB3;
}