<div class="rooms-container text-white">
  <div class="rooms-header position-relative">
    <img src="assets/registerBackground.jpg" class="img-fluid" alt="">
    <div class="custom-shape-bg position-absolute bottom-0 start-0 p-2 d-flex justify-content-center align-items-center">
      <h1 class="container-title text-center fs-1">Dhomat dhe Suitat</h1>
    </div>
  </div>

  <div class="container d-flex flex-column">
    <div *ngFor="let roomType of roomTypes; let i = index" class="room-type-container" [class.even]="i % 2 !== 0">
      <div class="room-image-container border border-dark" [class.left]="i % 2 === 0">
        <img [src]="roomTypesImages[i]" [alt]="roomType.type" class="room-image">
      </div>
      <div class="room-info d-flex flex-column align-items-center justify-content-center fs-6 mx-4">
        <h2 class="fs-2">{{ roomType.type }}</h2>
        <p>{{ roomType.description }}</p>
        <ul class="feature-list list-unstyled row">
          <li class="col-12 col-sm-4"><i class="fas fa-users"></i> Kapaciteti: {{ roomType.capacity }}</li> 
          <li class="col-12 col-sm-4"><i class="fas fa-bed"></i> Lloji i shtratit: {{ roomType.bedType }}</li> 
          <li class="col-12 col-sm-4"><i class="fas fa-dollar-sign"></i> Cmimi: {{ roomType.price }} ALL</li> 
      </ul>
        <p>{{ roomType.features }}</p>
        <button class="room-btn btn btn-primary" [routerLink]="['/reservation']" >Rezervo ketu</button> 
      </div>
    </div>
  </div>
</div>
